<!DOCTYPE html>
<html>
<head>
	<title>BRADY - an NFL Attractiveness API</title>

	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>

	<div class="header">
		<h1>Brady</h1>
		<ul>
			<li><a href="#sec1">Introduction</a></li>
			<li><a href="#sec2">Endpoints</a></li>
			<li><a href="https://github.com/joseph-green/nfl-attractiveness-api/">Github</a></li>
		</ul>
	</div>

	<div class='section' id='sec1'>

		<h2 class='sec-title'>Introduction</h2>

		<p>BRADY is an API that provides information about the attractiveness of current NFL players, as well as other information such as team and position.</p>

		<p>The "attractiveness" of players is determined by <a href="https://www.haystack.ai/">the Hakstack.ai</a> API.</p>

		<p>BRADY was created by <a href="https://joseph-green.github.io/resume-site/">Joseph Green</a> as a side project.</p>

	</div>

	<div class='section' id='sec2'>
		
		<h2 class='sec-title'>Endpoints</h2>

		<div class='endpoint'>

			<h3>Player by ID</h3>

			<p>Get a player by their player ID</p>

			<p>ENDPOINT</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/<span class='highlight'>&ltint: player id&gt</span></p>

			<p>SAMPLE REQUEST</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/228</p>

			<p>SAMPLE RESPONSE</p>

			<p class='code-snip'>{
				<br>&nbsp;"player_id": 228, 
				<br>&nbsp;"player_first_name": "Tom", 
				<br>&nbsp;"player_last_name": "Brady", 
				<br>&nbsp;"player_position": "QB", 
				<br>&nbsp;"player_team": "New England Patriots", 
				<br>&nbsp;"player_attractiveness": null, 
				<br>&nbsp;"img_path": "../assets/player_headshots/QB_Tom_Brady.jpg"
				<br>}</p>

		</div>

		<div class='endpoint' id='sec3'>
			
			<h3>Player Search by Last Name</h3>

			<p>Search for a player by their Last Name</p>

			<p>ENDPOINT</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/search/<span class='highlight'>&ltstring: player last name&gt</span></p>

			<p>SAMPLE REQUEST</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/search/gronkowski</p>

			<p>SAMPLE RESPONSE</p>

			<p class='code-snip'>[{
				<br>&nbsp;"player_id": 850, 
				<br>&nbsp;"player_first_name": "Glenn", 
				<br>&nbsp;"player_last_name": "Gronkowski", 
				<br>&nbsp;"player_position": "FB", 
				<br>&nbsp;"player_team": "Buffalo Bills", 
				<br>&nbsp;"player_attractiveness": null, 
				<br>&nbsp;"img_path": "../assets/player_headshots/FB_Glenn_Gronkowski.jpg"
				<br>}, 
				<br>{
				<br>&nbsp;"player_id": 851, 
				<br>&nbsp;"player_first_name": "Rob", 
				<br>&nbsp;"player_last_name": "Gronkowski", 
				<br>&nbsp;"player_position": "TE", 
				<br>&nbsp;"player_team": "New England Patriots", 
				<br>&nbsp;"player_attractiveness": null, 
				<br>&nbsp;"img_path": "../assets/player_headshots/TE_Rob_Gronkowski.jpg"
				<br>}]</p>

		</div>

		<div class='endpoint' id='sec4'>
			
			<h3>Player Search by Name</h3>

			<p>Search for a player by First and Last Name</p>

			<p>ENDPOINT</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/search/<span class='highlight'>&ltstring: player last name&gt</span>/<span class='highlight'>&ltstring: player first name&gt</span></p>

			<p>SAMPLE REQUEST</p>

			<p class='code-snip'><span id='req-type'>GET</span> [url]/players/search/edelman/julian</p>

			<p>SAMPLE RESPONSE</p>

			<p class='code-snip'>[{
				<br>&nbsp;"player_id": 610, 
				<br>&nbsp;"player_first_name": "Julian", 
				<br>&nbsp;"player_last_name": "Edelman", 
				<br>&nbsp;"player_position": "WR", 
				<br>&nbsp;"player_team": "New England Patriots", 
				<br>&nbsp;"player_attractiveness": null, 
				<br>&nbsp;"img_path": "../assets/player_headshots/WR_Julian_Edelman.jpg"
				<br>}]</p>

		</div>

		
	</div>
</body>
</html>