body {
	max-width: 50%;
	margin: 2em auto;
}

.header {
	text-align: center;
}

.header h1 img {
	width: 40%;
}

.header ul {
	list-style: none;
}

.header li {
	display: inline;
	margin: 0 1em;
}

.header li a {
	color: #333;
	text-transform: uppercase;
}

.header li a:hover {
	text-decoration: none;
	color: #000;
}

.code-snip {
	font-family: consolas;
	margin-left: 1em;
	padding: 0.5em;
	background-color: #0A2342;
	color: #fff;
	border-radius: 0.5em;
	display: inline-block;
}

.code-snip #req-type {
	font-weight: bold;
}

.endpoint {
	margin: 1em 0;
}