<!DOCTYPE html>
<html>
<head>
	<title>NFL Attractiveness API</title>
</head>
<body>

	<div class="header">
		<h1></h1>
		<ul>
			<li><a href=""></a></li>
		</ul>
	</div>

	<div class='section'>

		<h2>Introduction</h2>

		<p>[API Name] is an api that provides information about the attractiveness of current NFL players, as well as other information such as team and position.</p>

		<p>The "attractiveness" of players is determined by <a href="">the Hakstack.ai</a> API.</p>

		<p>The [API name] was created by <a href="">Joseph Green</a> as a side project.</p>

	</div>

	<div class='section'>
		
		<h2>Endpoints</h2>

		<div>
			<h3>Player by ID</h3>

			<p>Get a player by their player ID</p>

			<p>SAMPLE REQUEST</p>

			<p><span id='req-type'>GET</span> [url]/players/228</p>

			<p>SAMPLE RESPONSE</p>

			<p>{</p>
		</div>

		<
	</div>
</body>
</html>